absl-py 
ale-py==0.8.1
annotated-types==0.7.0
AutoROM==0.4.2
AutoROM.accept-rom-license==0.6.1
Brotli 
certifi 
charset-normalizer 
click==8.1.8
cloudpickle==3.1.0
colored-traceback==0.4.2
contourpy==1.3.1
cycler==0.12.1
decorator==5.1.1
docker-pycreds==0.4.0
Farama-Notifications==0.0.4
filelock 
fonttools==4.55.3
fsspec==2024.12.0
gitdb==4.0.11
GitPython==3.1.43
gmpy2 
grpcio 
gymnasium==0.29.1
idna 
imageio==2.36.1
imageio-ffmpeg==0.5.1
importlib_metadata 
importlib_resources==6.4.5
Jinja2 
joblib 
kiwisolver==1.4.8
lz4==4.3.3
Markdown 
MarkupSafe 
matplotlib==3.10.0
minigrid==3.0.0
mkl-service==2.4.1
mkl_fft 
mkl_random 
moviepy==2.1.1
mpmath 
networkx 
numpy==1.26.4
opencv-python==4.10.0.84
packaging 
pandas==2.2.3
pillow==10.4.0
platformdirs==4.3.6
proglog==0.1.10
protobuf==4.25.3
psutil==6.1.1
pydantic==2.10.4
pydantic_core==2.27.2
pygame==2.6.1
Pygments==2.18.0
pyparsing==3.2.0
PySocks 
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML 
requests 
scikit-learn 
scipy 
sentry-sdk==2.19.2
setproctitle==1.3.4
Shimmy==0.2.1
six 
smmap==5.0.1
stable_baselines3==2.4.0
sympy==1.13.1
tensorboard 
tensorboard_data_server 
threadpoolctl 
# torch==2.5.1
# torchaudio==2.5.1
torchsummary==1.5.1
# torchvision==0.20.1
tqdm==4.67.1
triton==3.1.0
typing_extensions 
tzdata==2024.2
urllib3 
wandb==0.19.1
Werkzeug 
zipp 
